/*Fonts*/
@font-face {
    font-family: coverfont;
    src: url(fonts/Abite.otf);
}
@font-face {
    font-family: bodyfont;
    src: url(fonts/Quicksand-Regular.otf);
}
@font-face {
    font-family: leadfont;
    src: url(fonts/Railways-Regular.otf);
}
/*------------------------------*/

.navbar {
    background: rgba(0, 0, 0, 0.6);
    border-style: none;
}

.navbar-brand {
    font-family: coverfont;
    font-size: 15px;
}

.cover {
    background: url(images/bodybackgroundbw.jpg);
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 100px #000;
    /*clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);*/
}

.cover-text {
    top: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*.container1 {
    height: 100vh;
    padding: 50px;
    background-color: transparent;
    box-shadow: inset 0 0 100px #000;
    display: table;
}*/

.mainheader {
    color: white;
    font-size: 50px;
    font-family: coverfont;
}

.opening {
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: bodyfont;
}

.section_one {
    padding: 50px 50px;
    font-family: bodyfont;
    color: white;
    text-align: justify;
    background: url(images/bodybackgroundbw.jpg);
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 100px #000;
}