body {
    background: linear-gradient( purple, purple );/*linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/stars.png);*/
    background-attachment: fixed;
    background-size: cover;
    display: table;
    width: 100%;
}

/*Fonts*/
@font-face {
    font-family: bodyfont;
    src: url(fonts/Quicksand-Regular.otf);
}
/*------------------------------*/

.cover {
    background-color: indigo;
    background-position: fixed;
    background-attachment: scroll;
    background-size: cover;
    display: table;
    width: 100%;
    height: 500px;
}

.cover2 {
    background: linear-gradient(indigo, purple); /*url(images/Moonlight.png)*/;
    background-position: fixed;
    background-attachment: scroll;
    background-size: cover;
    display: table;
    width: 100%;
    height: 50vh;
}

.cover-text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.relm {
    height: auto;
    background-attachment: fixed;
    background-position: fixed;
    height: 400px;
}

.rel {
    font-size: 30px;
}

.mainheader {
    color: white;
    font-size: 50px;
    font-family: bodyfont;
}

.mainheader2 {
    color: white;
    font-size: 70px;
    font-family: bodyfont;
}

.opening {
    color: white;
    font-size: 35px;
    font-weight: 600;
    font-family: bodyfont;
}

h3 {
    font-size: 30px;
    color: white;
    font-family: bodyfont
}

.kr {
    width: 300px;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}

p {
    font-size: 16px;
    color: white;
    font-family: bodyfont
}


.moon {
    margin-top: 70px;
    margin-left: 150px;
}

.glassmtn {
    background-color: transparent;
    margin-top: 20px;
}

.d2 {
    margin-top: 200px;  
}

.section1 {
    background-color: transparent;
    /*background-color: #f7c1d2;*/
    height: 300px;
}

.section2 {
    background-color: #7086d1;
}

.section3 {
    background-color: #6b83cc;
}

.section4 {
    background: linear-gradient(#6b83cc,purple);
}

.section5 {
    background: linear-gradient(transparent,#6b83cc);
    /*background-color: #8989d1;*/
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration-line: none;
    padding: 12px 50px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

btn:active {
    transform: translateY(-1.5px);
    box-shadow: 0 20px 20px, rgba(0,0,0,0,2);
}


.btn-white {
    background-color: white;
    color: darkblue;
    font-family: bodyfont;
    font-weight: bold;
    font-size: 15px;
    top: 80px;
}


.btn-white:hover {
    transform: translateY(-3px);
    background-color: white;
    color: purple;
    font-weight: bold;
    box-shadow: 0 10px 20px, rgba(0,0,0,0,2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


/*------------- All buttons after---------------*/

.btn-white::after {
    background-color: white;
}


/*---------All buttons hover and after----------*/

.btn-white:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}


/*---------- Media Queries -----------*/

@media only screen and ( max-width : 568px ) {
    .mainheader {
        font-size: 29px;
    }
    
    .mainheader2 {
        font-size: 19px;
    }
    
    .opening {
        font-size: 16px;
    }
    
    section {
        padding: 5px;
    }
    
    .glassmtn {
    }
    
}